// Tailwind
@import 'tailwind.min';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Blueimp Gallery
@import './blueimp'; 

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('/retail/public/fonts/source-sans-pro/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
  url('/retail/public/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
  url('/retail/public/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
  url('/retail/public/fonts/source-sans-pro/OTF/SourceSansPro-Regular.otf') format('opentype'),
  url('/retail/public/fonts/source-sans-pro/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/retail/public/fonts/source-sans-pro/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
  url('/retail/public/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
  url('/retail/public/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
  url('/retail/public/fonts/source-sans-pro/OTF/SourceSansPro-It.otf') format('opentype'),
  url('/retail/public/fonts/source-sans-pro/TTF/SourceSansPro-It.ttf') format('truetype');
}

$font-stack: 'SourceSansPro', sans-serif; 

html, body {
  background-color: $lightgreybg;
  font-family: $font-stack, sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

a, a:link, a:hover, a:active {
  cursor: pointer;
}

ul {
  list-style: none;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.title {
  font-size: 36px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.jumbotron {
  color: #fff;
}

.App {
  width:90%;
  margin:auto;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: #395693;
}

.userBox {
  display: flex;
  flex-direction: column;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.listItem {
  flex: 1;
  flex-basis: 30%;
}

.form-row {
  display: flex;
}

.form-row .inputBox {
  border-radius: 10px;
  flex: 1;
}

.card {
  border: none !important;
  border-radius: 15px;
  background-color: #fff;
}

.card-header>h4 {
  margin-bottom: 0 !important;
}

.card-body form .form-row label {
  flex: 1;
}

  .card-header {
    color: #000 !important;
    background-color: $vuegreen !important;
  }

  .card-body {
    border: 3px solid $vuegreen;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
  }

.form-row .inputBox {
    border: 3px solid $vuegreen;
  }


button, button:hover, button:active, button:focus {
  outline: none !important;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  outline: none;
}

p {
  margin: 0 !important;
}

.light-grey-bg {
  background-color: $lightgreybg !important;
}

.plusSymbol {
  font-size: 50px;
  line-height: 20px;
  font-weight: bolder;
  color: #fff !important;
  float: right;
  cursor: pointer;
  padding-bottom: 5px;
  margin-bottom: -5px;
}

.plusSymbol:hover {
  text-shadow: -1px 1px 1px #000 !important;
}

.nav-link { 
  border-radius: 10px;
  margin: 3px 10px;
  padding: 3px 15px !important;
  background-color:transparent; color:rgba(255, 255, 255, 0.5);
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}
.nav-link:hover {
  background-color:white; 
  color: black !important;
  text-decoration: none !important;
  border-radius: 10px;
}

.dropdown-menu {
  border: none;
  background-color: #343A40;
  color: #fff;
}
.dropdown-item {
  color: #fff;
  border-radius: 10px;
}

.vgrad {
  background: -moz-linear-gradient(top,  rgba(65,184,131,1) 0%, rgba(65,184,131,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(65,184,131,1) 0%,rgba(65,184,131,0) 100%);
  background: linear-gradient(to bottom,  rgba(65,184,131,1) 0%,rgba(65,184,131,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b883', endColorstr='#0041b883',GradientType=0 );
}

.jumbotronGrad {
background: #41b883;
background: -moz-linear-gradient(top,  #41b883 11%, #343a40 57%);
background: -webkit-linear-gradient(top,  #41b883 11%,#343a40 57%);
background: linear-gradient(to bottom,  #41b883 11%,#343a40 57%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b883', endColorstr='#343a40',GradientType=0 );

}


.grow-enter-active, .grow-leave-active {
  transition: height .5s
}
.grow-enter, .grow-leave-active {
  height: initial;
}

.shrink-enter-active, .shrink-leave-active {
  transition: height .5s
}
.shrink-enter, .shrink-leave-active {
  height: 0
}

.announce {
  text-align: center;
}

.rounded {
  border-radius: 15px !important;
}
.roundedTop {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.roundedBottom {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.light-blue-bg {
  background-color: lightblue;
}

.vlistItem {
    border-radius: 15px !important;
    background-color: #fff;
    box-shadow: 0 0 0 3px #41B883 !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.vliheading {
    text-align: center;
    line-height: 2rem;
    vertical-align: middle;
    color: #000;
    h5{
      position: relative;
      vertical-align: middle;
      display: inline;
    }
}

.CTA {
    border-radius: 15px !important;
    color: #000;
    background-color: #fff;
    border: 3px solid #41B883;
}
.CTA:hover {
    background-color: #41B883;
    color: #fff;
    border: 3px solid #DDDDDD;
}

.text-green, .inline-link {
    color: #41B883;
    font-weight: bold;
    text-shadow: -1px 1px 0px #999;
}
.pull-right {
    float: right;
}
.centered {
    text-align: center;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #343A40;
}

.borderTopNone {
  border-top: none !important;
  border-color: #C9F0DF !important;
}

@media (min-width: 768px) and (max-width: 979px) {
    .interClass {
        color: black !important;
    }
}
